*{
    margin: 0;
    padding: 0;
}

.laka{
    margin: 250px auto;
    width: 800px;
    background-color: rgb(38, 94, 248);
    box-shadow: 5px 5px 10px rgb(0, 0, 0);
    color: rgb(253, 250, 250);
    font-size: 25px;
    font-weight: 700;
    padding: 25px;
    text-align: left;
    border-radius: 20px;
    text-shadow: 5px 5px 5px rgba(22, 22, 22, 0.404);
}