*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
}

header{
    background-color: #d6d6d6;
    padding: 10px 0;
}

.container{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.clear{
    clear: both;
}

.logo1{
    float: left;
    width: 100px;
    height: 70px;
    background-image: url(../images/logo1.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.5s;
}

.logo1:hover{
    scale: 2;
    cursor: pointer;
}

.logo2{
    float: right;
    width: 100px;
    height: 70px;
    background-color: green;
}